.n8n-workflows/아이디어 캐처/N8Lient 아이디어 캐처 v1.02 - 직접 업로드 토큰 검증 반영.json
{
  "name": "N8Lient 아이디어 캐처 v1.02 - 직접 업로드 토큰 검증 반영",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8lient-idea-catcher",
        "options": {
          "allowedOrigins": "*",
          "responseData": "firstEntryJson"
        }
      },
      "id": "d3b60b15-4327-4f78-9259-06148a99c360",
      "name": "01 N8Lient Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1712,
        832
      ],
      "webhookId": "f2653657-214f-4678-9fb3-ee85478d4dd4"
    },
    {
      "parameters": {
        "jsCode": "// 00 환경설정 - N8Lient 실행 Payload 기준\n// 서버 간 호출과 브라우저 직접 업로드 호출을 모두 지원한다.\n// 1) 서버 간 호출: X-N8N-TOKEN 검증 후 payload.settings를 그대로 사용한다.\n// 2) 브라우저 직접 업로드: submissionId + uploadToken을 N8Lient verify API로 검증하고 canonical payload를 사용한다.\n// n8n은 개인 설정과 회사 공용 설정을 직접 병합하지 않는다.\n// 엔팔라이언트가 검증/병합 완료한 settings만 최종 실행 설정값으로 사용한다.\n// Google Drive/Gmail 노드는 n8n에 등록된 공용 Google 계정 Credential을 사용한다.\n\nconst item = $input.first();\nconst rawJson = item.json || {};\n\nconst parseJsonIfPossible = (value) => {\n  if (typeof value !== 'string') return value;\n  const trimmed = value.trim();\n  if (!trimmed) return value;\n  try { return JSON.parse(trimmed); } catch (e) { return value; }\n};\n\nconst normalizeHeaders = (headers = {}) => {\n  const normalized = {};\n  for (const [key, value] of Object.entries(headers || {})) {\n    normalized[String(key).toLowerCase()] = value;\n  }\n  return normalized;\n};\n\nlet body = parseJsonIfPossible(rawJson.body);\nif (!body || typeof body !== 'object' || Array.isArray(body)) {\n  body = {};\n}\n\n// multipart/form-data에서는 payload가 문자열 필드로 들어올 수 있다.\nconst embeddedPayload = parseJsonIfPossible(body.payload || rawJson.payload);\nconst payloadCandidate =\n  embeddedPayload && typeof embeddedPayload === 'object' && !Array.isArray(embeddedPayload)\n    ? embeddedPayload\n    : (Object.keys(body).length ? body : rawJson);\n\nconst headers = normalizeHeaders(rawJson.headers || {});\nconst expectedToken = $env.N8N_SERVER_MAIN_TOKEN || $env.N8N_WEBHOOK_TOKEN || '';\nconst incomingToken = headers['x-n8n-token'] || '';\n\nconst submissionId =\n  payloadCandidate.submissionId ||\n  body.submissionId ||\n  rawJson.submissionId ||\n  '';\n\nconst uploadToken =\n  payloadCandidate.uploadToken ||\n  body.uploadToken ||\n  rawJson.uploadToken ||\n  '';\n\nlet payload = null;\nlet authMode = 'unknown';\n\n// 1) 서버 간 호출: 기존 execute API → n8n 호출 경로\nif (expectedToken && incomingToken && incomingToken === expectedToken) {\n  payload = payloadCandidate;\n  authMode = 'server-token';\n} else if (!expectedToken && !uploadToken) {\n  // 개발/테스트 환경에서 n8n 토큰을 쓰지 않는 경우에만 기존 payload를 허용한다.\n  payload = payloadCandidate;\n  authMode = 'no-server-token-dev';\n} else if (uploadToken && submissionId) {\n  // 2) 브라우저 직접 업로드: 1회성 uploadToken 검증\n  const baseUrl = String(\n    payloadCandidate.verifyBaseUrl ||\n    payloadCandidate.n8lientBaseUrl ||\n    $env.N8LIENT_BASE_URL ||\n    $env.N8LIENT_APP_BASE_URL ||\n    ''\n  ).replace(/\\/+$/, '');\n\n  const verifyUrl =\n    payloadCandidate.verifyUrl ||\n    (baseUrl ? `${baseUrl}/api/automation/verify-upload-token` : '');\n\n  if (!verifyUrl) {\n    throw new Error('N8Lient 업로드 토큰 검증 오류: verify-upload-token URL을 만들 수 없습니다. n8n 환경변수 N8LIENT_BASE_URL을 설정하세요.');\n  }\n\n  const verifyResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: verifyUrl,\n    body: {\n      submissionId,\n      uploadToken,\n    },\n    json: true,\n    timeout: 300000,\n  });\n\n  if (!verifyResponse || verifyResponse.valid !== true || !verifyResponse.payload) {\n    throw new Error(`N8Lient Upload Token Verification Failed: ${verifyResponse?.error || 'Unknown'}`);\n  }\n\n  payload = verifyResponse.payload;\n  authMode = 'upload-token';\n} else {\n  throw new Error('N8Lient Webhook 인증 실패: X-N8N-TOKEN 또는 유효한 uploadToken이 필요합니다.');\n}\n\nconst settings = payload.settings || {};\nconst input = payload.input || {};\n\nif (!payload.submissionId) {\n  throw new Error('N8Lient payload 오류: submissionId가 없습니다.');\n}\n\nif (!payload.callbackUrl) {\n  throw new Error('N8Lient payload 오류: callbackUrl이 없습니다.');\n}\n\nif (!settings.mdFolderId) {\n  throw new Error('N8Lient settings 오류: settings.mdFolderId가 없습니다.');\n}\n\nif (!settings.originalFileFolderId) {\n  throw new Error('N8Lient settings 오류: settings.originalFileFolderId가 없습니다.');\n}\n\nconst config = {\n  workflowName: \"N8Lient 아이디어 캐처\",\n  workflowKey: payload.workflowKey || 'idea-catcher',\n  automationId: payload.automationId || '',\n  submissionId: payload.submissionId,\n  clientId: payload.clientId || '',\n  uid: payload.uid || '',\n  callbackUrl: payload.callbackUrl,\n  requestedAt: payload.requestedAt || new Date().toISOString(),\n\n  // Auth\n  authMode,\n\n  // Gemini\n  geminiModel: settings.geminiModel || 'gemini-2.5-flash',\n\n  // N8Lient에서 병합 완료된 최종 settings만 사용한다.\n  originalFileFolderId: settings.originalFileFolderId,\n  mdFolderId: settings.mdFolderId,\n  reportEmailTo: settings.reportEmailTo || '',\n\n  // File naming\n  audioPrefix: settings.audioPrefix || 'idea_audio',\n  mdPrefix: settings.mdPrefix || 'idea_card',\n\n  // 프롬프트: AI는 title/paragraphs/keywords만 JSON으로 반환한다.\n  // MD 구조와 출처는 n8n 코드가 고정 생성한다.\n  // 긴 음성 글쓰기를 과도하게 요약하지 않고, 말의 흐름을 살리는 방향이다.\n  prompt: `너는 한국어 음성 글쓰기를 정리하는 보조 작가다.\n\n사용자는 음성으로 글을 쓴다.\n음성에는 \"음\", \"어\", 반복, 중단된 말, 되돌아간 설명, 주제 전환이 있을 수 있다.\n\n목표:\n끊긴 말과 생각의 공백은 말한 내용의 범위 안에서 자연스럽게 이어 문장화한다.\n사용자가 말한 흐름, 논리, 예시, 감정의 결을 최대한 보존한다.\n중언부언, 추임새, 반복, 말꼬리만 걷어내고 읽기 좋은 글로 정리한다.\nAI가 임의로 검열하거나 절반으로 줄이지 않는다.\n임의로 짧게 압축하지 않는다.\n\n제목 규칙:\n- title은 평범한 요약 제목으로 만들지 않는다.\n- title은 실제 발화 속에서 나온 인상적인 표현, 핵심 문장, 힘 있는 워딩을 골라 만든다.\n- 사용자가 직접 제목을 말하지 않았더라도, 말한 내용 안에서 가장 제목다운 표현을 찾아 25자 이내로 다듬는다.\n- \"아이디어 카드노트\", \"음성 메모\", \"생각 정리\", \"내용 요약\", \"아이디어 노트\" 같은 일반 제목은 쓰지 않는다.\n- 사용자가 말하지 않은 멋있는 표현을 새로 창작하지 않는다.\n- 실제 워딩을 살리되 제목으로 읽히도록 조사나 어미 정도만 자연스럽게 다듬는다.\n\n본문 규칙:\n- paragraphs는 본문 문단 배열이다.\n- 각 문단은 자연스러운 글 문장으로 작성한다.\n- 사용자가 말한 순서와 흐름을 가능한 한 유지한다.\n- 여러 생각이 이어지면 문단을 나누어 정리한다.\n- 중언부언은 제거하되, 생각의 전개와 설명은 지나치게 줄이지 않는다.\n- 사용자가 말하지 않은 사실, 사례, 결론을 새로 만들지 않는다.\n\n출력 규칙:\n- JSON만 반환한다.\n- 마크다운, 코드블록, 설명문은 쓰지 않는다.\n- keywords는 3~7개 배열로 만든다.\n\n반환 형식:\n{\"title\":\"\",\"paragraphs\":[\"\"],\"keywords\":[\"\"]}`\n};\n\nreturn [{\n  json: {\n    ...payload,\n    input,\n    settings,\n    _payload: payload,\n    _config: config,\n  },\n  binary: item.binary,\n}];"
      },
      "id": "0914f497-842e-4730-9226-4d54e78a3748",
      "name": "00 환경설정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "// 01 입력 정리 - N8Lient payload 정규화\n// 지원 입력:\n// 1) input.fileUrl 기반 파일 다운로드\n// 2) Webhook multipart/binary 직접 입력\n// 3) input.text만 있는 경우 원본 텍스트 파일로 보관 후 Gemini 텍스트 처리\n\nconst item = $input.first();\nconst config = item.json._config || {};\nconst payload = item.json._payload || item.json || {};\nconst input = payload.input || {};\nconst binary = item.binary || {};\n\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\nconst yyyy = now.getFullYear();\nconst MM = pad(now.getMonth() + 1);\nconst dd = pad(now.getDate());\nconst hh = pad(now.getHours());\nconst mm = pad(now.getMinutes());\nconst ss = pad(now.getSeconds());\n\nconst dateText = `${yyyy}-${MM}-${dd} ${hh}:${mm}`;\nconst stamp = `${yyyy}${MM}${dd}_${hh}${mm}${ss}`;\n\nconst sourceTitle = String(input.title || payload.title || '').trim();\nconst sourceContent = String(input.text || input.content || payload.text || '').trim();\nconst submissionId = String(payload.submissionId || config.submissionId || '').trim();\n\nconst getExt = (fileName, mimeType, fallback = 'webm') => {\n  const name = String(fileName || '').trim();\n  if (name.includes('.')) return name.split('.').pop().toLowerCase();\n  const mime = String(mimeType || '').toLowerCase();\n  if (mime.includes('mpeg')) return 'mp3';\n  if (mime.includes('mp4')) return 'mp4';\n  if (mime.includes('webm')) return 'webm';\n  if (mime.includes('wav')) return 'wav';\n  if (mime.includes('ogg')) return 'ogg';\n  if (mime.includes('plain')) return 'txt';\n  if (mime.includes('markdown')) return 'md';\n  return fallback;\n};\n\nlet fileBuffer = null;\nlet fileMeta = null;\nlet sourceMode = 'unknown';\n\nconst binaryKeys = Object.keys(binary);\nconst existingBinaryKey =\n  binaryKeys.find((key) => (binary[key].mimeType || '').startsWith('audio/')) ||\n  binaryKeys.find((key) => key.startsWith('file_')) ||\n  binaryKeys[0];\n\nif (existingBinaryKey) {\n  fileMeta = binary[existingBinaryKey];\n  fileBuffer = await this.helpers.getBinaryDataBuffer(0, existingBinaryKey);\n  sourceMode = 'binary';\n} else if (input.fileUrl) {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: input.fileUrl,\n    uri: input.fileUrl,\n    encoding: null,\n    json: false,\n    returnFullResponse: true,\n    resolveWithFullResponse: true,\n    simple: true,\n  });\n\n  const body = response.body ?? response;\n  fileBuffer = Buffer.isBuffer(body) ? body : Buffer.from(body);\n  const headers = response.headers || {};\n  fileMeta = {\n    fileName: input.fileName || `n8lient_input_${stamp}`,\n    mimeType: input.mimeType || headers['content-type'] || 'application/octet-stream',\n    fileSize: fileBuffer.length,\n  };\n  sourceMode = 'fileUrl';\n} else if (sourceContent) {\n  fileBuffer = Buffer.from(sourceContent, 'utf8');\n  fileMeta = {\n    fileName: input.fileName || `n8lient_text_${stamp}.txt`,\n    mimeType: 'text/plain',\n    fileSize: fileBuffer.length,\n  };\n  sourceMode = 'text';\n} else {\n  throw new Error('N8Lient 입력 오류: input.fileUrl, binary 파일 또는 input.text 중 하나가 필요합니다.');\n}\n\nconst originalName = fileMeta.fileName || `n8lient_input_${stamp}`;\nconst mimeType = fileMeta.mimeType || input.mimeType || 'application/octet-stream';\nconst extFromName = getExt(originalName, mimeType, sourceMode === 'text' ? 'txt' : 'webm');\nconst safeOriginalName = `${config.audioPrefix || 'idea_audio'}_${stamp}.${extFromName}`;\nconst isTextOnly = sourceMode === 'text' || String(mimeType).startsWith('text/');\n\nreturn [{\n  json: {\n    _config: config,\n    sourceTitle,\n    sourceContent,\n    submissionId,\n    clientId: payload.clientId || config.clientId || '',\n    uid: payload.uid || config.uid || '',\n    workflowKey: payload.workflowKey || config.workflowKey || 'idea-catcher',\n    automationId: payload.automationId || config.automationId || '',\n    callbackUrl: payload.callbackUrl || config.callbackUrl || '',\n    requestedAt: payload.requestedAt || config.requestedAt || '',\n    receivedAt: dateText,\n    stamp,\n    inputMode: sourceMode === 'text' ? 'N8Lient 텍스트 입력' : 'N8Lient 파일 입력',\n    inputFileUrl: input.fileUrl || '',\n    originalAudioFileName: safeOriginalName,\n    originalAudioMimeType: mimeType,\n    originalAudioSize: fileMeta.fileSize || fileBuffer.length,\n    audioBase64: isTextOnly ? '' : fileBuffer.toString('base64'),\n    isTextOnly,\n  },\n  binary: {\n    sourceAudio: {\n      data: fileBuffer.toString('base64'),\n      mimeType,\n      fileName: safeOriginalName,\n      fileExtension: extFromName,\n    },\n  },\n}];"
      },
      "id": "b4ab17a7-19ab-4f33-9ab8-2f81acb515b6",
      "name": "01 입력 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        832
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "sourceAudio",
        "name": "={{$json.originalAudioFileName}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$json._config.originalFileFolderId}}"
        },
        "options": {}
      },
      "id": "1c9259e9-085a-4ea1-b106-ea2d668597b5",
      "name": "02 원본 파일 Drive 저장",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2496,
        832
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z2ncjw6Keo5mGEqx",
          "name": "Google Drive account(xplora.jang@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Google Drive 저장 결과 + 01 입력 정리 결과를 결합해 Gemini 요청 JSON 생성\nconst drive = $input.first().json;\nconst prep = $items('01 입력 정리')[0].json;\n\nconst sourceFileId = drive.id || drive.fileId || '';\nconst audioDriveLink = drive.webViewLink || (sourceFileId ? `https://drive.google.com/file/d/${sourceFileId}/view?usp=drivesdk` : '');\n\nconst config = prep._config || {};\n\nconst sourceText = [\n  prep.sourceTitle ? `사용자 입력 제목: ${prep.sourceTitle}` : '',\n  prep.sourceContent ? `사용자 입력 내용: ${prep.sourceContent}` : '',\n  `입력방식: ${prep.inputMode || 'N8Lient 입력'}`,\n  prep.submissionId ? `submissionId: ${prep.submissionId}` : '',\n  prep.clientId ? `clientId: ${prep.clientId}` : '',\n  prep.uid ? `uid: ${prep.uid}` : '',\n  `워크플로우명: ${config.workflowName || 'N8Lient 아이디어 캐처'}`,\n  `원본 파일명: ${prep.originalAudioFileName}`,\n  audioDriveLink ? `원본 파일 링크: ${audioDriveLink}` : '',\n  prep.requestedAt ? `요청일시: ${prep.requestedAt}` : '',\n  `생성일시: ${prep.receivedAt}`,\n].filter(Boolean).join('\\n');\n\nconst instruction = `${config.prompt}\\n\\n참고 정보:\\n${sourceText}`;\n\nconst parts = [{ text: instruction }];\nif (prep.audioBase64 && !prep.isTextOnly) {\n  parts.push({\n    inlineData: {\n      mimeType: prep.originalAudioMimeType || 'audio/webm',\n      data: prep.audioBase64,\n    },\n  });\n}\n\nconst geminiPayload = {\n  contents: [\n    {\n      role: 'user',\n      parts,\n    },\n  ],\n  generationConfig: {\n    temperature: 0.25,\n    topP: 0.85,\n    maxOutputTokens: 15000,\n    responseMimeType: 'application/json',\n    responseSchema: {\n      type: 'OBJECT',\n      properties: {\n        title: { type: 'STRING' },\n        paragraphs: {\n          type: 'ARRAY',\n          items: { type: 'STRING' },\n        },\n        keywords: {\n          type: 'ARRAY',\n          items: { type: 'STRING' },\n        },\n      },\n      required: ['title', 'paragraphs', 'keywords'],\n    },\n  },\n};\n\nreturn [{\n  json: {\n    ...prep,\n    audioFileId: sourceFileId,\n    audioDriveLink,\n    geminiPayload,\n    // Gemini API Key는 HTTP Request 노드의 Google Gemini(PaLM) Credential이 주입한다.\n    geminiUrl: `https://generativelanguage.googleapis.com/v1beta/models/${config.geminiModel}:generateContent`,\n  },\n}];"
      },
      "id": "dfcb2c61-6b22-41a7-ae45-f3f05666f077",
      "name": "03 Gemini 요청 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gemini 응답에서 title/paragraphs/keywords를 추출하고, n8n에서 표준 Markdown을 1회만 생성한다.\n// 중요: JSON 파싱이 실패하면 억지로 MD를 만들지 않고 오류 처리한다.\n// 원본 파일은 이미 Drive에 저장되어 있으므로 공통 오류 리포터로 확인 후 재처리한다.\nconst res = $input.first().json;\nconst meta = $items('03 Gemini 요청 구성')[0].json;\nconst config = meta._config || {};\n\nconst parts = res.candidates?.[0]?.content?.parts || [];\nlet raw = parts.map((p) => p.text || '').join('\\n').trim();\n\nif (!raw) {\n  throw new Error('Gemini 응답에서 내용을 찾지 못했습니다. 원본 파일은 Drive에 저장되어 있으므로 재처리할 수 있습니다.');\n}\n\nconst stripCodeFence = (text) => String(text)\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nconst normalizeKeywords = (value) => {\n  if (Array.isArray(value)) return value.map((v) => String(v).trim()).filter(Boolean).slice(0, 7);\n  if (typeof value === 'string') return value.split(/[,\\n]/).map((v) => v.replace(/^[-*]\\s*/, '').trim()).filter(Boolean).slice(0, 7);\n  return [];\n};\n\nconst cleanText = (text) => String(text || '')\n  .replace(/##\\s*제목/gi, '')\n  .replace(/##\\s*내용/gi, '')\n  .replace(/##\\s*키워드(?: \\(선택\\))?/gi, '')\n  .replace(/##\\s*출처/gi, '')\n  .replace(/원본 파일명\\s*[:：].*/gi, '')\n  .replace(/원본 파일 링크\\s*[:：].*/gi, '')\n  .replace(/생성일시\\s*[:：].*/gi, '')\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\nlet parsed = null;\ntry {\n  parsed = JSON.parse(stripCodeFence(raw));\n} catch (e) {\n  throw new Error(`Gemini 응답 JSON 파싱 실패. 불완전한 MD를 생성하지 않고 중단합니다. 원본 파일 링크: ${meta.audioDriveLink || ''}\\n\\n원본 응답 앞부분:\\n${raw.slice(0, 1200)}`);\n}\n\nconst normalizeParagraphs = (value) => {\n  if (Array.isArray(value)) {\n    return value.map((p) => cleanText(p)).filter(Boolean);\n  }\n\n  // 구버전 응답 호환: content 문자열이 온 경우 문단으로 변환한다.\n  if (typeof value === 'string') {\n    const cleaned = cleanText(value);\n    return cleaned\n      .split(/\\n{2,}/)\n      .map((p) => p.trim())\n      .filter(Boolean);\n  }\n\n  return [];\n};\n\nlet paragraphs = normalizeParagraphs(parsed?.paragraphs);\nif (paragraphs.length === 0 && parsed?.content) {\n  paragraphs = normalizeParagraphs(parsed.content);\n}\n\nif (paragraphs.length === 0) {\n  throw new Error(`Gemini 응답에 본문 paragraphs가 없습니다. 원본 파일 링크: ${meta.audioDriveLink || ''}`);\n}\n\nconst genericTitlePatterns = [\n  /^아이디어\\s*카드노트$/i,\n  /^아이디어\\s*노트$/i,\n  /^음성\\s*메모$/i,\n  /^음성\\s*메모\\s*정리$/i,\n  /^생각\\s*정리$/i,\n  /^내용\\s*요약$/i,\n  /^메모\\s*정리$/i,\n  /^제목\\s*없음$/i,\n];\n\nconst sanitizeTitle = (s) => String(s || '')\n  .replace(/[\\\\/:*?\"<>|#\\[\\]\\n\\r\\t]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst isGenericTitle = (title) => {\n  const t = sanitizeTitle(title);\n  return !t || genericTitlePatterns.some((re) => re.test(t));\n};\n\nconst deriveTitleFromParagraphs = (paragraphList) => {\n  const full = paragraphList.join(' ').replace(/\\s+/g, ' ').trim();\n  if (!full) return '';\n\n  // 실제 발화 흐름에서 제목다운 문장을 우선 선택한다.\n  const roughSentences = full\n    .split(/(?<=[.!?])\\s+|[。！？]\\s*|\\n+/)\n    .map((s) => sanitizeTitle(s))\n    .filter(Boolean);\n\n  const preferred = roughSentences.find((s) =>\n    s.length >= 8 && s.length <= 80 && /(해야|필요|중요|싫|좋|문제|핵심|방법|생각|글|작가|AI|잡아|놓치)/.test(s)\n  ) || roughSentences.find((s) => s.length >= 8 && s.length <= 80) || full;\n\n  return sanitizeTitle(preferred).slice(0, 25).trim();\n};\n\nlet noteTitle = sanitizeTitle(parsed?.title);\nif (isGenericTitle(noteTitle)) {\n  const sourceTitle = sanitizeTitle(meta.sourceTitle);\n  noteTitle = !isGenericTitle(sourceTitle) ? sourceTitle.slice(0, 25) : deriveTitleFromParagraphs(paragraphs);\n}\n\nif (!noteTitle) {\n  throw new Error(`제목을 생성하지 못했습니다. 원본 파일 링크: ${meta.audioDriveLink || ''}`);\n}\n\nconst content = paragraphs.join('\\n\\n');\nlet keywords = normalizeKeywords(parsed?.keywords);\nif (keywords.length === 0) keywords = ['음성 글쓰기', '아이디어 정리'];\n\nconst keywordMd = keywords.map((k) => `- ${k}`).join('\\n');\nconst workflowName = config.workflowName || \"JANG'S 아이디어 캐처\";\n\nconst md = `## 제목\n\n${noteTitle}\n\n## 내용\n\n${content}\n\n## 키워드 (선택)\n\n${keywordMd}\n\n## 출처\n\n- 워크플로우: ${workflowName}\n- 입력방식: ${meta.inputMode || 'N8Lient 입력'}\n- AI 모델: ${config.geminiModel || 'gemini-2.5-flash'}\n- 원본 파일명: ${meta.originalAudioFileName}\n- 원본 파일 링크: ${meta.audioDriveLink}\n- 생성일시: ${meta.receivedAt}\n`;\n\nconst safeTitle = sanitizeTitle(noteTitle).slice(0, 40) || '아이디어 노트';\nconst mdFileName = `${config.mdPrefix || 'idea_card'}_${meta.stamp}_${safeTitle}.md`;\n\nreturn [{\n  json: {\n    ...meta,\n    noteTitle,\n    paragraphs,\n    keywords,\n    md,\n    mdFileName,\n  },\n}];"
      },
      "id": "678db0d9-a3db-4fcd-afd8-196b4f8c53bf",
      "name": "05 Gemini 응답 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "// Markdown 문자열을 Google Drive 업로드용 binary 파일로 변환\nconst item = $input.first().json;\nconst mdBuffer = Buffer.from(item.md, 'utf8');\n\nreturn [{\n  json: item,\n  binary: {\n    mdFile: {\n      data: mdBuffer.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: item.mdFileName,\n      fileExtension: 'md',\n    },\n  },\n}];"
      },
      "id": "5c4e1d75-6eef-4c67-9ec6-67d91b35dce2",
      "name": "06 MD 파일 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        1232
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "mdFile",
        "name": "={{$json.mdFileName}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$json._config.mdFolderId}}"
        },
        "options": {}
      },
      "id": "b7980bc6-c7f1-4cc7-a010-33d80e085baa",
      "name": "07 MD Drive 저장",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2240,
        1232
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z2ncjw6Keo5mGEqx",
          "name": "Google Drive account(xplora.jang@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// MD 저장 결과 + 이전 메타데이터 결합, 메일/응답 데이터 생성\n// 이메일 리포팅 디자인: JANG'S AI Automation Email Frame Template v3.3 + Design.md v3.3 적용, 본문 구성 v1.93 반영, 전체 본문 메일 표시 수정\n// 주의: Drive/Gemini/MD 생성 등 데이터 처리 로직은 변경하지 않고, 보고 메일의 제목/본문 구성만 표준화한다.\nconst drive = $input.first().json;\nconst parsed = $items('06 MD 파일 생성')[0].json;\nconst config = parsed._config || {};\n\nconst mdFileId = drive.id || drive.fileId || '';\nconst mdDriveLink = drive.webViewLink || (mdFileId ? `https://drive.google.com/file/d/${mdFileId}/view?usp=drivesdk` : '');\n\nconst workflowName = config.workflowName || \"JANG'S 아이디어 캐처\";\n\nconst escapeHtml = (value) => String(value ?? '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst escapeAttr = escapeHtml;\n\nconst safeUrl = (value) => {\n  const v = String(value || '').trim();\n  if (/^https?:\\/\\//i.test(v) || /^mailto:/i.test(v)) return v;\n  return '#';\n};\n\nconst plainText = (value) => String(value ?? '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst formatBytes = (bytes) => {\n  const n = Number(bytes || 0);\n  if (!Number.isFinite(n) || n <= 0) return '';\n  if (n < 1024) return `${n} B`;\n  if (n < 1024 * 1024) return `${(n / 1024).toFixed(1)} KB`;\n  return `${(n / 1024 / 1024).toFixed(1)} MB`;\n};\n\nconst sectionHeader = (label, title) => `\n<div style=\"border-top:2px solid #0f766e;padding-top:12px;margin:30px 0 14px;text-align:left;\">\n  <p style=\"margin:0 0 6px;font-size:12px;line-height:1.4;color:#0f766e;font-weight:800;letter-spacing:0.08em;text-transform:uppercase;\">\n    ${escapeHtml(label)}\n  </p>\n  <h2 style=\"font-size:21px;line-height:1.4;margin:0;color:#111827;font-weight:800;letter-spacing:-0.02em;text-align:left;\">\n    ${escapeHtml(title)}\n  </h2>\n</div>`;\n\nconst roleLabel = (label) => `\n<p style=\"margin:0 0 8px;text-align:left;\">\n  <span style=\"display:inline-block;padding:5px 10px;font-size:12px;line-height:1.35;color:#ffffff;background:#0f766e;border:1px solid #0f766e;border-radius:4px;font-weight:800;letter-spacing:-0.01em;\">\n    ${escapeHtml(label)}\n  </span>\n</p>`;\n\nconst paragraph = (text, extraStyle = '') => `\n<p style=\"margin:0 0 13px;font-size:15px;line-height:1.78;color:#334155;text-align:left;${extraStyle}\">\n  ${escapeHtml(text)}\n</p>`;\n\nconst linkLine = (label, url, linkText) => `\n${roleLabel(label)}\n<p style=\"margin:0 0 16px;text-align:left;\">\n  <a href=\"${escapeAttr(safeUrl(url))}\" target=\"_blank\" style=\"display:inline-block;color:#2563eb;text-decoration:underline;font-weight:700;word-break:break-word;overflow-wrap:anywhere;\">\n    ${escapeHtml(linkText)}\n  </a>\n</p>`;\n\nconst keywordsHtml = Array.isArray(parsed.keywords) && parsed.keywords.length\n  ? `<p style=\"margin:4px 0 0;text-align:left;\">${parsed.keywords.map((k) => `\n      <span style=\"display:inline-block;margin:0 6px 6px 0;padding:4px 10px;font-size:12px;line-height:1.4;color:#0f766e;background:#f0fdfa;border:1px solid #99f6e4;border-radius:999px;\">\n        ${escapeHtml(k)}\n      </span>`).join('')}</p>`\n  : '';\n\nconst previewParagraphs = Array.isArray(parsed.paragraphs)\n  ? parsed.paragraphs.map((p) => plainText(p)).filter(Boolean)\n  : [];\n\n// 생성된 본문 전체를 이메일에 표시한다.\n// 이미 Gemini가 생성한 결과를 재사용하는 것이므로, 메일 본문에 전체 표시해도 추가 LLM 비용은 발생하지 않는다.\nconst previewHtml = previewParagraphs.map((p) => paragraph(p)).join('');\nconst previewMoreHtml = '';\n\nconst audioSizeText = formatBytes(parsed.originalAudioSize);\nconst metaLine = [\n  `워크플로우: ${workflowName}`,\n  `AI 모델: ${config.geminiModel || 'gemini-2.5-flash'}`,\n  parsed.receivedAt ? `생성일시: ${parsed.receivedAt}` : '',\n  audioSizeText ? `원본 파일 크기: ${audioSizeText}` : '',\n].filter(Boolean).join(' · ');\n\nconst contentHtml = `\n${sectionHeader('RESULT', '처리결과')}\n${roleLabel('처리 완료')}\n${paragraph('엔팔라이언트 입력을 아이디어 카드노트로 정리했습니다.')}\n${roleLabel('노트 제목')}\n<h3 style=\"font-size:18px;line-height:1.45;margin:0 0 10px;color:#111827;font-weight:800;letter-spacing:-0.01em;text-align:left;\">\n  ${escapeHtml(parsed.noteTitle)}\n</h3>\n${roleLabel('생성 파일명')}\n${paragraph(parsed.mdFileName || '')}\n<p style=\"margin:0 0 12px;font-size:13px;color:#6b7280;line-height:1.6;text-align:left;\">\n  ${escapeHtml(metaLine)}\n</p>\n\n${sectionHeader('IDEA', '캐치 아이디어 본문')}\n${previewHtml || paragraph('본문 문단을 찾지 못했습니다. MD 지식노트 파일에서 확인하세요.')}\n${previewMoreHtml}\n\n${sectionHeader('FILES', '원본 및 노트 파일')}\n${linkLine('원본 파일', parsed.audioDriveLink, 'Google Drive 원본 파일 열기')}\n${linkLine('노트 파일', mdDriveLink, 'MD 지식노트 열기')}\n`;\n\nconst emailFrame = \"<!doctype html>\\n<html lang=\\\"ko\\\">\\n<head>\\n  <meta charset=\\\"utf-8\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <title>{{EMAIL_TITLE}}</title>\\n  <!--\\n    JANG'S AI Automation Email Frame Template v3.3\\n\\n    역할:\\n    - 이 HTML은 공통 프레임만 담당한다.\\n    - 헤더 / 상태바 / 본문 삽입 영역 / 푸터를 제공한다.\\n    - 본문 내부 디자인은 02_Design_v3_3.md 기준으로 AI가 생성한다.\\n\\n    v3.3 핵심:\\n    - 공통 헤더와 같은 본문 제목 반복 금지.\\n    - 섹션 표제 상단 라인과 회색 구분선 중복 금지.\\n    - 핵심 포인트 / 요약 / 원문은 태그보다 한 단계 높은 본문 역할 라벨로 표시.\\n    - 본문 링크 기본 색상은 푸른색 #2563eb.\\n  -->\\n  <style>\\n    @media only screen and (max-width:640px){\\n      body{\\n        margin:0 !important;\\n        padding:0 !important;\\n        background:#ffffff !important;\\n        -webkit-text-size-adjust:100% !important;\\n        -ms-text-size-adjust:100% !important;\\n      }\\n\\n      .outer-wrap{\\n        padding:0 !important;\\n        background:#ffffff !important;\\n      }\\n\\n      .frame-shell{\\n        width:100% !important;\\n        max-width:100% !important;\\n      }\\n\\n      .header-banner{\\n        border-radius:0 0 18px 0 !important;\\n      }\\n\\n      .header-pad{\\n        padding:18px 12px 20px 12px !important;\\n      }\\n\\n      .eyebrow{\\n        font-size:11px !important;\\n        padding:6px 10px !important;\\n      }\\n\\n      .hero-title{\\n        font-size:22px !important;\\n        line-height:1.34 !important;\\n        margin-top:14px !important;\\n      }\\n\\n      .hero-subtitle{\\n        font-size:14px !important;\\n        line-height:1.55 !important;\\n        margin-top:9px !important;\\n      }\\n\\n      .status-bar{\\n        padding:11px 10px !important;\\n        font-size:13px !important;\\n        line-height:1.5 !important;\\n      }\\n\\n      .content-wrap{\\n        padding:20px 10px 24px 10px !important;\\n        font-size:16px !important;\\n        line-height:1.72 !important;\\n      }\\n\\n      .content-wrap h1{\\n        font-size:24px !important;\\n        line-height:1.34 !important;\\n      }\\n\\n      .content-wrap h2{\\n        font-size:20px !important;\\n        line-height:1.4 !important;\\n      }\\n\\n      .content-wrap h3{\\n        font-size:18px !important;\\n        line-height:1.45 !important;\\n      }\\n\\n      .content-wrap p,\\n      .content-wrap li,\\n      .content-wrap td,\\n      .content-wrap th{\\n        font-size:16px !important;\\n        line-height:1.72 !important;\\n      }\\n\\n      .content-wrap ul,\\n      .content-wrap ol{\\n        padding-left:20px !important;\\n        margin-left:0 !important;\\n      }\\n\\n      .content-wrap hr{\\n        margin:24px 0 !important;\\n      }\\n\\n      .content-wrap a{\\n        color:#2563eb !important;\\n        word-break:break-word !important;\\n        overflow-wrap:anywhere !important;\\n      }\\n\\n      .content-wrap table{\\n        width:100% !important;\\n        max-width:100% !important;\\n        border-radius:0 !important;\\n      }\\n\\n      .content-wrap th,\\n      .content-wrap td{\\n        padding:7px 6px !important;\\n      }\\n\\n      .footer-wrap{\\n        padding:0 10px 22px 10px !important;\\n      }\\n\\n      .footer-title{\\n        font-size:15px !important;\\n      }\\n\\n      .footer-copy,\\n      .footer-meta{\\n        font-size:12px !important;\\n        line-height:1.65 !important;\\n      }\\n    }\\n  </style>\\n</head>\\n\\n<body style=\\\"margin:0;padding:0;background:#ffffff;font-family:Arial,'Apple SD Gothic Neo','Malgun Gothic',sans-serif;color:#111827;line-height:1.65;text-align:left;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;\\\">\\n  <div style=\\\"display:none;max-height:0;overflow:hidden;opacity:0;color:transparent;line-height:1px;font-size:1px;\\\">\\n    {{PREHEADER}}\\n  </div>\\n\\n  <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"width:100%;border-collapse:collapse;background:#ffffff;text-align:left;margin:0;padding:0;\\\">\\n    <tr>\\n      <td class=\\\"outer-wrap\\\" align=\\\"left\\\" style=\\\"padding:0 0 18px 0;text-align:left;background:#ffffff;\\\">\\n\\n        <table role=\\\"presentation\\\" class=\\\"frame-shell\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"width:100%;max-width:900px;border-collapse:collapse;text-align:left;background:#ffffff;margin:0;\\\">\\n\\n          <!-- Header -->\\n          <tr>\\n            <td class=\\\"header-banner\\\" style=\\\"background:#0f172a;background-image:linear-gradient(120deg,#0f172a 0%,#0f766e 58%,#f97316 100%);border-radius:0 0 28px 0;overflow:hidden;text-align:left;\\\">\\n              <div class=\\\"header-pad\\\" style=\\\"padding:30px 28px 30px 28px;text-align:left;\\\">\\n                <div class=\\\"eyebrow\\\" style=\\\"display:inline-block;padding:8px 14px;border-radius:999px;border:1px solid rgba(255,255,255,0.28);background:rgba(255,255,255,0.12);color:#ffffff;font-size:12px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;\\\">\\n                  {{HEADER_EYEBROW}}\\n                </div>\\n                <div class=\\\"hero-title\\\" style=\\\"margin-top:16px;font-size:28px;font-weight:800;letter-spacing:-0.035em;line-height:1.25;color:#ffffff;\\\">\\n                  {{HEADER_TITLE}}\\n                </div>\\n                <div class=\\\"hero-subtitle\\\" style=\\\"margin-top:10px;font-size:15px;line-height:1.6;color:#f8fafc;opacity:0.95;\\\">\\n                  {{HEADER_SUBTITLE}}\\n                </div>\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Status -->\\n          <tr>\\n            <td style=\\\"padding:14px 0 0 0;text-align:left;background:#ffffff;\\\">\\n              <div class=\\\"status-bar\\\" style=\\\"padding:12px 18px;background:{{STATUS_BG}};color:{{STATUS_COLOR}};font-size:13px;font-weight:700;line-height:1.55;border-left:4px solid {{STATUS_ACCENT}};text-align:left;\\\">\\n                {{STATUS_LABEL}} · {{STATUS_MESSAGE}}\\n              </div>\\n            </td>\\n          </tr>\\n\\n          <!-- Content -->\\n          <tr>\\n            <td class=\\\"content-wrap\\\" style=\\\"padding:26px 18px 32px 18px;text-align:left;font-size:15px;color:#334155;line-height:1.78;background:#ffffff;\\\">\\n              {{CONTENT_HTML}}\\n            </td>\\n          </tr>\\n\\n          <!-- Footer -->\\n          <tr>\\n            <td class=\\\"footer-wrap\\\" style=\\\"padding:0 18px 24px 18px;text-align:left;background:#ffffff;\\\">\\n              <table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" border=\\\"0\\\" style=\\\"width:100%;border-collapse:collapse;background:#ffffff;\\\">\\n                <tr>\\n                  <td style=\\\"height:4px;background:#0f172a;background-image:linear-gradient(90deg,#0f172a 0%,#0f766e 52%,#f97316 100%);font-size:0;line-height:4px;\\\">&nbsp;</td>\\n                </tr>\\n                <tr>\\n                  <td style=\\\"padding:18px 0 0 0;text-align:left;background:#ffffff;\\\">\\n                    <div class=\\\"footer-title\\\" style=\\\"font-size:16px;font-weight:800;color:#111827;letter-spacing:-0.01em;\\\">\\n                      JANG'S AI Automation\\n                    </div>\\n                    <div class=\\\"footer-copy\\\" style=\\\"margin-top:8px;font-size:13px;color:#475569;line-height:1.7;\\\">\\n                      {{FOOTER_TAGLINE}}\\n                    </div>\\n                    <div class=\\\"footer-meta\\\" style=\\\"margin-top:10px;font-size:12px;color:#64748b;line-height:1.7;\\\">\\n                      운영사: {{FOOTER_COMPANY_NAME}}<br>\\n                      웹사이트: <a href=\\\"{{FOOTER_COMPANY_URL}}\\\" target=\\\"_blank\\\" style=\\\"color:#2563eb;text-decoration:none;\\\">{{FOOTER_COMPANY_URL_LABEL}}</a><br>\\n                      문의: <a href=\\\"mailto:{{FOOTER_CONTACT_EMAIL}}\\\" style=\\\"color:#2563eb;text-decoration:none;\\\">{{FOOTER_CONTACT}}</a><br>\\n                      주소: {{FOOTER_COMPANY_ADDRESS}}\\n                    </div>\\n                    <div style=\\\"margin-top:12px;font-size:12px;color:#94a3b8;line-height:1.7;\\\">\\n                      Copyright © {{YEAR}} {{FOOTER_COMPANY_NAME}}. All rights reserved.<br>\\n                      본 메일은 JANG'S AI Automation 시스템에 의해 자동 발송되었습니다.\\n                    </div>\\n                  </td>\\n                </tr>\\n              </table>\\n            </td>\\n          </tr>\\n\\n        </table>\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n</html>\\n\";\n\nconst fillTemplate = (frame, values) => {\n  let html = frame;\n  for (const [key, value] of Object.entries(values)) {\n    html = html.split(`{{${key}}}`).join(String(value ?? ''));\n  }\n  return html;\n};\n\nconst emailSubject = `[${workflowName}] ${parsed.noteTitle}`;\n\nconst emailBody = fillTemplate(emailFrame, {\n  EMAIL_TITLE: escapeHtml(emailSubject),\n  PREHEADER: escapeHtml(`${workflowName} ${parsed.noteTitle}`),\n  HEADER_EYEBROW: 'IDEA REPORT',\n  HEADER_TITLE: escapeHtml(workflowName),\n  HEADER_SUBTITLE: '엔팔라이언트에서 요청한 입력을 아이디어 카드노트로 정리했습니다.',\n  STATUS_BG: '#ecfdf5',\n  STATUS_COLOR: '#065f46',\n  STATUS_ACCENT: '#0f766e',\n  STATUS_LABEL: 'SUCCESS',\n  STATUS_MESSAGE: escapeHtml(`카드노트 생성 완료 · ${parsed.receivedAt || ''}`),\n  CONTENT_HTML: contentHtml,\n  FOOTER_TAGLINE: '생각의 원본을 보존하고, 다시 읽을 수 있는 문서형 지식노트로 정리합니다.',\n  FOOTER_COMPANY_NAME: \"JANG'S AI Automation\",\n  FOOTER_COMPANY_URL: 'https://rentaltalk.kr',\n  FOOTER_COMPANY_URL_LABEL: 'rentaltalk.kr',\n  FOOTER_CONTACT_EMAIL: escapeAttr(config.reportEmailTo || ''),\n  FOOTER_CONTACT: escapeHtml(config.reportEmailTo || ''),\n  FOOTER_COMPANY_ADDRESS: 'Internal Automation Report',\n  YEAR: new Date().getFullYear(),\n});\n\nconst resultSummary = `아이디어 카드노트 생성 완료: ${parsed.noteTitle}`;\nconst resultUrl = mdDriveLink;\nconst callbackPayload = {\n  submissionId: config.submissionId || parsed.submissionId || '',\n  status: 'success',\n  result: {\n    summary: resultSummary,\n    resultUrl,\n  },\n};\n\nconst n8lientOutput = `아이디어 카드노트가 생성되었습니다.\\n\\n원본 파일:\\n${parsed.audioDriveLink}\\n\\nMD 지식노트 파일:\\n${mdDriveLink}\\n\\n${parsed.md}`;\n\nreturn [{\n  json: {\n    success: true,\n    status: 'success',\n    submissionId: callbackPayload.submissionId,\n    title: parsed.noteTitle,\n    output: n8lientOutput,\n    emailTo: config.reportEmailTo || '',\n    emailSubject,\n    emailBody,\n    audioDriveLink: parsed.audioDriveLink,\n    mdDriveLink,\n    noteTitle: parsed.noteTitle,\n    mdFileName: parsed.mdFileName,\n    callbackUrl: config.callbackUrl || '',\n    callbackPayload,\n  },\n}];"
      },
      "id": "e52bdefd-13cf-4935-8495-c73214d5ad90",
      "name": "08 최종 보고 데이터 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        1232
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.emailTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailBody}}",
        "options": {}
      },
      "id": "96b7b523-ebb1-4305-addb-1cc7e9e0d714",
      "name": "09 Gmail 보고",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3024,
        1104
      ],
      "webhookId": "25d0d177-75c9-4afd-9821-a82097010155",
      "credentials": {
        "gmailOAuth2": {
          "id": "wu6L94CVCQmeCelp",
          "name": "Gmail account(xplora.jang@gmail.com)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "# N8Lient 아이디어 캐처 설정 안내\n\n## 역할\n엔팔라이언트가 호출한 payload 또는 브라우저 직접 업로드 요청을 받아 아이디어 캐처 자동화를 실행한다. n8n은 개인 설정과 회사 공용 설정을 직접 병합하지 않고, 엔팔라이언트가 전달하거나 검증 API가 반환한 `settings`를 최종 실행 설정값으로 사용한다.\n\n## Webhook Path\n- n8n 실제 Path: `n8lient-idea-catcher`\n- N8Lient 환경변수 예시: `N8N_WEBHOOK_PATH_IDEA_CATCHER=/webhook/n8lient-idea-catcher`\n- 테스트 시: `N8N_WEBHOOK_PATH_IDEA_CATCHER=/webhook-test/n8lient-idea-catcher`\n- `workflowTemplates.webhookSecretId`는 `idea-catcher`로 유지한다.\n\n## 호출 방식\n### 1. 서버 간 호출\n- N8Lient `/api/automation/execute`가 n8n Webhook을 호출한다.\n- `X-N8N-TOKEN`을 `00 환경설정` 노드에서 검증한다.\n- n8n 서버 환경변수 `N8N_SERVER_MAIN_TOKEN` 또는 `N8N_WEBHOOK_TOKEN`을 사용한다.\n\n### 2. 브라우저 직접 업로드\n- 사용자가 파일/음성/이미지를 첨부하면 N8Lient가 `prepare-upload`로 1회성 `uploadToken`을 발급한다.\n- 브라우저는 공통 n8n 토큰 없이 `submissionId`, `uploadToken`, `payload`, `file_0`를 multipart/form-data로 n8n Webhook에 직접 전송한다.\n- `00 환경설정` 노드는 `verify-upload-token` API를 호출하여 토큰을 검증하고 canonical payload를 받아 사용한다.\n- n8n 환경변수 `N8LIENT_BASE_URL` 또는 `N8LIENT_APP_BASE_URL`을 설정해야 한다.\n  - 예: `N8LIENT_BASE_URL=https://n8lient.netlify.app`\n- 운영 환경에서는 Webhook Allowed Origins(CORS)에 N8Lient 운영 도메인만 허용한다.\n- 개발 환경에서는 필요 시 `http://localhost:3000`을 추가 허용한다.\n- 운영에서 `*` CORS 허용은 피한다.\n\n## 필수 Payload\n- `submissionId`\n- `callbackUrl`\n- `settings.mdFolderId`\n- `settings.originalFileFolderId`\n- `input.text` 또는 `input.fileUrl` 또는 binary 파일(`file_0`)\n\n## settings 매핑\n- `settings.originalFileFolderId`: 원본 파일 저장 폴더\n- `settings.mdFolderId`: 완성 MD 저장 폴더\n- `settings.reportEmailTo`: 선택 이메일 보고 수신자\n- `settings.geminiModel`: 선택 Gemini 모델, 기본값 `gemini-2.5-flash`\n- `settings.audioPrefix`: 선택 원본 파일명 접두어, 기본값 `idea_audio`\n- `settings.mdPrefix`: 선택 MD 파일명 접두어, 기본값 `idea_card`\n\n## 공용 Google 계정 정책\n- Google Drive/Gmail 노드의 OAuth Credential은 n8n에 등록한 **공용 Google 계정**을 사용한다.\n- N8Lient에서 받는 폴더 ID, 시트 ID, 이메일은 OAuth Credential이 아니다.\n- 사용자의 개인 Google Drive 폴더나 Google Sheet를 쓰려면 해당 파일/폴더를 공용 Google 계정에 **쓰기 권한**으로 공유해야 한다.\n- `settings.mdFolderId`, `settings.originalFileFolderId`는 공용 Google 계정이 접근 가능한 대상이어야 한다.\n- `settings.reportEmailTo`는 메일 수신자다. 발신자는 n8n에 연결된 공용 Gmail 계정이다.\n- `googleDriveConnectionId`, `gmailConnectionId`, `geminiApiKey`는 configSchema에 넣지 않는다.\n\n## 처리 흐름\n1. N8Lient Webhook 수신\n2. `X-N8N-TOKEN` 또는 `uploadToken` 검증\n3. 입력 정리 및 원본 파일 Drive 저장\n4. Gemini 2.5 Flash 정리\n5. MD 파일 생성 및 Drive 저장\n6. 선택 Gmail 보고\n7. `callbackUrl`로 성공 결과 전송\n\n## 중요\n- Webhook은 `onReceived` 즉시 응답 방식이다.\n- 브라우저 직접 업로드 시 Webhook 응답은 “업로드 접수” 의미이며, 처리 완료는 callback으로 판단한다.\n- 브라우저에는 `X-N8N-TOKEN` 또는 공통 n8n 토큰을 절대 노출하지 않는다.\n- 완료 결과는 `10 N8Lient Callback 성공` 노드가 엔팔라이언트 callback API로 전달한다.\n- 실패 callback은 N8Lient 대응 공통 오류 리포터에서 처리한다.\n",
        "height": 1180,
        "width": 520,
        "color": 4
      },
      "id": "22167263-c823-4909-8d1c-cbc65c490041",
      "name": "Sticky Note - 설정 안내서",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        320
      ]
    },
    {
      "parameters": {
        "content": "# 버전 기록\n\n## N8Lient v1.00 통합 수정\n- 기존 외부 직접 호출 전용 구조를 제거했다.\n- Webhook 노드를 `01 N8Lient Webhook`으로 변경하고 즉시 응답 방식으로 전환했다.\n- `00 환경설정`의 Drive 폴더 ID와 이메일 하드코딩을 제거하고 `payload.settings` 기준으로 변경했다.\n- `01 입력 정리`를 N8Lient payload 기준으로 변경했다.\n- `input.fileUrl`, 기존 binary 입력, `input.text` 입력을 처리할 수 있게 보강했다.\n- 원본 저장 폴더는 `settings.originalFileFolderId`, MD 저장 폴더는 `settings.mdFolderId`를 사용한다.\n- 완료 후 `10 N8Lient Callback 성공` 노드에서 `callbackUrl`로 성공 결과를 전송한다.\n- 기존 Gemini 처리, MD 생성, Drive 저장, 이메일 디자인 로직은 최대한 유지했다.\n\n## N8Lient v1.01 공용 Google 계정 정책 반영\n- n8n Google Drive/Gmail OAuth Credential은 사용자별 동적 교체가 아니라 공용 Google 계정으로 고정하는 정책을 반영했다.\n- 개인 폴더/시트는 공용 Google 계정에 쓰기 권한으로 공유되어야 한다는 운영 조건을 Sticky Note에 명시했다.\n- `googleDriveConnectionId`, `gmailConnectionId`, `geminiApiKey`를 configSchema에 넣지 않는다는 보안 원칙을 명시했다.\n- Webhook Path를 `n8lient-idea-catcher`로 정리하여 기존 JANGS/legacy `idea-catcher` 경로와 충돌하지 않도록 했다.\n\n## N8Lient v1.02 직접 업로드 토큰 검증 반영\n- `00 환경설정` 노드가 서버 간 `X-N8N-TOKEN` 호출과 브라우저 직접 업로드 `uploadToken` 호출을 모두 지원하도록 변경했다.\n- 브라우저 직접 업로드 시 `submissionId`와 `uploadToken`을 N8Lient `/api/automation/verify-upload-token`으로 검증한다.\n- 검증 성공 시 verify API가 반환한 canonical payload를 기존 payload처럼 사용한다.\n- 브라우저에는 공통 n8n 토큰을 노출하지 않고, 1회성 uploadToken만 사용한다.\n- 직접 업로드의 binary `file_0`는 기존 `01 입력 정리` 노드가 인식하여 `sourceAudio`로 넘긴다.\n- n8n 환경변수 `N8LIENT_BASE_URL` 또는 `N8LIENT_APP_BASE_URL` 설정이 필요하다.\n- Webhook CORS Allowed Origins에 N8Lient 운영 도메인과 로컬 테스트 도메인을 허용해야 한다.\n",
        "height": 1020,
        "width": 520,
        "color": 5
      },
      "id": "9a04eadc-afe1-4cb2-ba63-a6b3d7a395e8",
      "name": "Sticky Note - 버전 기록",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.geminiUrl}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.geminiPayload)}}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "41ea2221-e752-4d72-9314-3e47769aa2be",
      "name": "04 Gemini 2.5 Flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3008,
        832
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "qOondp9rXtwDCdMK",
          "name": "Google Gemini(PaLM) Api account(장승희-유료)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$items('08 최종 보고 데이터 생성')[0].json.callbackUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env.N8N_CALLBACK_SECRET || '')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($items('08 최종 보고 데이터 생성')[0].json.callbackPayload)}}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "dad1d1c3-b13b-4097-9ee6-b564d495e04c",
      "name": "10 N8Lient Callback 성공",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2768,
        1392
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1531c1c1-fd53-445c-9fb9-b98c7c234a6b",
              "leftValue": "={{$json.emailTo}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "32e7d97a-1ab3-49c2-b579-9b8c41b332db",
      "name": "08A Gmail 보고 여부 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2768,
        1104
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "00 환경설정": {
      "main": [
        [
          {
            "node": "01 입력 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01 입력 정리": {
      "main": [
        [
          {
            "node": "02 원본 파일 Drive 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 Gemini 요청 구성": {
      "main": [
        [
          {
            "node": "04 Gemini 2.5 Flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 Gemini 응답 파싱": {
      "main": [
        [
          {
            "node": "06 MD 파일 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 MD 파일 생성": {
      "main": [
        [
          {
            "node": "07 MD Drive 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 MD Drive 저장": {
      "main": [
        [
          {
            "node": "08 최종 보고 데이터 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 최종 보고 데이터 생성": {
      "main": [
        [
          {
            "node": "08A Gmail 보고 여부 확인",
            "type": "main",
            "index": 0
          },
          {
            "node": "10 N8Lient Callback 성공",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 Gemini 2.5 Flash": {
      "main": [
        [
          {
            "node": "05 Gemini 응답 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01 N8Lient Webhook": {
      "main": [
        [
          {
            "node": "00 환경설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 원본 파일 Drive 저장": {
      "main": [
        [
          {
            "node": "03 Gemini 요청 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08A Gmail 보고 여부 확인": {
      "main": [
        [
          {
            "node": "09 Gmail 보고",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "23156b3d-3f9b-4ebf-a4c5-c833be9064b8",
  "meta": {
    "instanceId": "176c253fca0dc99f15ece30a2a0426eba62acc40622f68e2bde523c746b13e68"
  },
  "id": "B7i3i0tTFXGDopiL",
  "tags": []
}